.recent-wrapper {
  display: flex;
  padding-top: 1rem;
}

.styiling {
  position: absolute;
  place-self: start;
  background-color: var(--color-primary);
  width: 35%;
  height: 65%;
}

.recent {
  margin-top: 1.5rem;
  margin-left: 3rem;
  width: 100%;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
  height: auto;
  box-shadow: var(--shadow);
  border: 1px solid var(--color-navigation-bg);
}

.vertical {
  flex: 0.555;
  padding-left: 5rem;
}

.horizontal {
  flex: 1.5;
}

.slide {
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.6s ease-in-out;
}

.current {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.6s ease-in-out; 
}

.details {
  position: absolute;
  right: 2rem;
  padding: 2rem;
  border-radius: 25px;
  background: var(--color-navigation-bg);
  border: 1px solid var(--color-navigation-bg);
  animation: slide-up 1s ease 0.6s;
  animation-fill-mode: forwards;
  visibility: hidden;
  box-shadow: var(--shadow);
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 95%
  }
  100% {
    visibility: visible;
    top: 75%
  } 
}

/* ========= DEVICE SIZE ======= */
@media screen and (max-width: 1024px){
  .recent-wrapper {
    padding-top: 0rem;
  }

  .recent {
    margin-left: 0rem;
  }

  .vertical {
    padding-left: 2rem;
  }

  .styiling {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .image-container {
    justify-content: center;
  }
  .vertical {
    padding-left: 0.3rem;
    flex: 0.55;
  }

  .horizontal {
    padding-left: 0.3rem;
  }

  .details {
    left: 2rem;
  }

  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 140%
    }
    100% {
      visibility: visible;
      top: 110%
    }
  }
}