.display {
  display: block;
  position: fixed;
  padding-top: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.8);
}

.image-holder {
  display: flex;
  align-items: center;
  padding-left: 6rem;
  max-width: 82%;
}

.image-holder img {
  display: block;
  max-width: 100%;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border: 2px solid var(--color-background);
}

.left-button {
  flex: 5%;
  padding-right: 1rem;
  cursor: pointer;
  color: white;
  font-size: 45px;
  font: bolder;
}

.right-button {
  flex: 5%;
  padding-left: 1rem;
  cursor: pointer;
  color: white;
  font-size: 45px;
  font: bolder;
}

.close-button {
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 30px;
  margin-top: 4rem;
  padding: 1rem;
  margin-left: 90%;
  align-content: center;
  justify-self: center;
  align-self: center;
}


.all-images {
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  padding: 1.5rem;
  background: rgba(27, 27, 27, 0.5);
}

.all-images img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border: none;
}

/* ========= DEVICE SIZE ======= */
@media screen and (max-width: 1024px){
  .display {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .image-holder {
    padding-left: 0rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    max-width: 79%;
  }

  .close-button {
    margin-top: 2rem;
    margin-left: 85%;
  }

  .left-button {
    flex: 4%;
    padding-right: 0.4rem;
    font-size: 30px;
  }

  .right-button {
    flex: 4%;
    padding-left: 0.4rem;
    font-size: 30px;
  }

}
